@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

* {
  font-family: "Tajawal", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* ✅ مهم جدًا: خل الصفحة تاخذ كامل الشاشة */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* RTL */
html,
body {
  direction: rtl;
}
